services:
  # --- INGESTION SERVICES ---
  huts-fech:
    build:
      context: ../../
      dockerfile: src/docker/Dockerfile
    container_name: huts-fech
    volumes:
      - ../../:/app
      - ../../data:/data
    working_dir: /app
    command: python -u src/ingestion/fetch_huts.py
    networks:
      - tap

  weather-fech:
    build:
      context: ../../
      dockerfile: src/docker/Dockerfile
    container_name: weather-fech
    depends_on:
      - huts-fech
    volumes:
      - ../../:/app
      - ../../data:/data
    working_dir: /app
    command: python -u src/ingestion/fetch_weather.py
    networks:
      - tap

  # --- LOG SHIPPER ---
  fluent-bit:
    image: fluent/fluent-bit:latest
    container_name: fluent-bit
    volumes:
      - ../fluent-bit/fluent-bit.conf:/fluent-bit/etc/fluent-bit.conf
      - ../fluent-bit/parsers.conf:/fluent-bit/etc/parsers.conf
      - ../../data:/data
    depends_on:
      - weather-fech
      - kafka
    networks:
      - tap

  # --- KAFKA CLUSTER ---
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - tap

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9094:9094"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:9094
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - tap

  # --- MONITORING (UI) ---
  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    depends_on:
      - kafka
    ports:
      - "8080:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9092
      KAFKA_CLUSTERS_0_ZOOKEEPER: zookeeper:2181
    networks:
      - tap

  # --- INITIALIZATION ---
  kafka-topics-init:
    image: confluentinc/cp-kafka:7.5.0
    depends_on:
      - kafka
    networks:
      - tap
    command: >
      bash -c "sleep 15 &&
      kafka-topics --create --if-not-exists --bootstrap-server kafka:9092 --partitions 1 --replication-factor 1 --topic rifugi &&
      kafka-topics --create --if-not-exists --bootstrap-server kafka:9092 --partitions 1 --replication-factor 1 --topic meteo"

networks:
  tap:
    driver: bridge