services:
  # --- INGESTION SERVICES ---
  huts-fech:
    build:
      context: ../../
      dockerfile: src/docker/Dockerfile
    container_name: huts-fech
    volumes:
      - ../../:/app
      - ../../data:/data
    working_dir: /app
    command: python -u src/ingestion/fetch_huts.py
    networks:
      - tap

  weather-fech:
    build:
      context: ../../
      dockerfile: src/docker/Dockerfile
    container_name: weather-fech
    depends_on:
      - huts-fech
    volumes:
      - ../../:/app
      - ../../data:/data
    working_dir: /app
    command: python -u src/ingestion/fetch_weather.py
    networks:
      - tap

  # --- LOG SHIPPER ---
  fluent-bit:
    image: fluent/fluent-bit:latest
    container_name: fluent-bit
    volumes:
      - ../fluent-bit/fluent-bit.conf:/fluent-bit/etc/fluent-bit.conf
      - ../fluent-bit/parsers.conf:/fluent-bit/etc/parsers.conf
      - ../../data:/data
    depends_on:
      - weather-fech
      - kafka
    networks:
      - tap
networks:
  tap:
    driver: bridge